<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Order</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary"  style="background-color: #3158C9" @click="showNewOrderModel">Create Order</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Order ID </th>
                                    <th>Product</th>
                                    <th>User</th>
                                    <th>Price</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="orders.data" v-for="(order,index) in orders.data" :key="index">
<!--                                    <td>{{order.id}}</td>-->
                                    <td>{{order.id}}</td>
                                    <td>{{order.product.name}}</td>
                                    <td>{{order.user.name}}</td>
                                    <td>{{order.price}}</td>
                                    <td>
                                        <button v-on:click="editOrder(order)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteOrder(order)"  class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="orders" @pagination-change-page="getOrders"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newOrderModel"  hide-footer title="Create New Order">
                    <div class="form" v-on:submit.prevent="createOrder" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name">Name </label>
                                <input type="text" v-model="orderData.name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" min="0" class="form-control" v-model="orderData.price" id="price">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewOrderModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editOrderModel"  hide-footer title="Create Edit Order">
                    <div class="form" v-on:submit.prevent="updateOrder" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name">Name </label>
                                <input type="text" v-model="editOrderData.name" class="form-control" id="edit_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_price">Price</label>
                                <input type="text" class="form-control" v-model="editOrderData.price" id="edit_price">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditOrderModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as orderService from '../services/order_service';

    export default {
        name: "Order",
        data() {
            return {
                orders: {},
                orderData: [],
                editOrderData:{},
                editOrderDataDescription:{},
                editOrderDataName:{},
                errors: null,
                editError: null,
                page: 1,
            }
        },
        created() {
            this.getOrders();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getOrders();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewOrderModel() {
                this.$refs.newOrderModel.hide();
            },
            showNewOrderModel() {
                this.$refs.newOrderModel.show();
            },
            getOrders: async function (page=1){

                let params = {page: page};
                try {
                    let response = await orderService.getOrder(params);
                    console.log( response.data);
                    this.orders = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createOrder: async function () {

                if (!this.orderData.name) {
                    this.errors="Name required.";
                }
                else if (!this.orderData.price) {
                    this.errors='Price required.';
                }
                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name', this.orderData.name);
                formData.append('price', this.orderData.price);
                try {
                    const response = await orderService.createOrder(formData);
                    this.errors = {};
                    this.orders.data.unshift(response.data);
                    this.hideNewOrderModel();
                    this.flashMessage.success({
                        title: 'Order Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditOrderModel() {
                this.$refs.editOrderModel.hide();
            },
            showEditOrderModel() {
                this.$refs.editOrderModel.show();
            },
            editOrder(order) {
                console.log(order);
                this.editOrderData={...order};
                this.showEditOrderModel();
            },
            updateOrder: async function () {
                if (!this.editOrderData.name) {
                    this.editError="Name required.";
                }
                else if (!this.editOrderData.price) {
                    this.editError='Price required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name', this.editOrderData.name);
                formData.append('price', this.editOrderData.price);
                formData.append('_method','put');
                try {
                    const response = await orderService.updateOrder(this.editOrderData.id,formData);
                    console.log(response.data.data);
                    this.orders.data.map(order=>{
                        if(order.id === response.data.data.id){
                            for(let key in response.data.data){
                                order[key]=response.data.data[key];
                            }
                        }
                    });
                    this.hideEditOrderModel();
                    this.flashMessage.success({
                        title: 'Order Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteOrder: async function (order) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${order.name.en} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                orderService.deleteOrder(order.id);
                                this.orders.data = this.orders.data.filter(obj => {
                                    return obj.id !== order.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
