<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Products</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Product</h6></b-col>
                    <b-col cols="2"><b-button id="show-btn" variant="primary"  style="background-color: #3158C9" @click="showNewProductModel">Create Product</b-button>
                    </b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name </th>
                                    <th>Price</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="products.data" v-for="(product,index) in products.data" :key="index">
<!--                                    <td>{{product.id}}</td>-->
                                    <td>{{product.name}}</td>
                                    <td>{{product.price}}</td>
                                    <td>
                                        <button v-on:click="editProduct(product)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteProduct(product)"  class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="products" @pagination-change-page="getProducts"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="newProductModel"  hide-footer title="Create New Product">
                    <div class="form" v-on:submit.prevent="createProduct" style="margin: 10px">
                        <form>
                            <p v-show="errors" style="color: red">
                            * {{ errors }}</p>
                            <div class="form-group">
                                <label for="name">Name </label>
                                <input type="text" v-model="productData.name" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="price">Price</label>
                                <input type="number" min="0" class="form-control" v-model="productData.price" id="price">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideNewProductModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Save</button>

                            </div>
                        </form>
                    </div>
                </b-modal>
                <b-modal ref="editProductModel"  hide-footer title="Create Edit Product">
                    <div class="form" v-on:submit.prevent="updateProduct" style="margin: 10px">
                        <form>
                            <p v-show="editError" style="color: red">
                                * {{ editError }}</p>
                            <div class="form-group">
                                <label for="edit_name">Name </label>
                                <input type="text" v-model="editProductData.name" class="form-control" id="edit_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_price">Price</label>
                                <input type="text" class="form-control" v-model="editProductData.price" id="edit_price">
                            </div>
                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditProductModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as productService from '../services/product_service';

    export default {
        name: "Product",
        data() {
            return {
                products: {},
                roles: [],
                productData: [],
                editProductData:{},
                errors: null,
                editError: null,
                page: 1,
            }
        },
        created() {
            this.getProducts();
        },
        watch:{
            search(val,old){
                if (val === "") {
                    this.getProducts();
                } else {
                    this.searchData();
                }
            }
        },
        methods: {
            hideNewProductModel() {
                this.$refs.newProductModel.hide();
            },
            showNewProductModel() {
                this.$refs.newProductModel.show();
            },
            getProducts: async function (page=1){

                let params = {page: page};
                try {
                    let response = await productService.getProduct(params);
                    this.products = response.data;
                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            createProduct: async function () {

                if (!this.productData.name) {
                    this.errors="Name required.";
                }
                else if (!this.productData.price) {
                    this.errors='Price required.';
                }
                else {
                    this.errors=null;
                let formData = new FormData();
                formData.append('name', this.productData.name);
                formData.append('price', this.productData.price);
                try {
                    const response = await productService.createProduct(formData);
                    this.errors = {};
                    this.products.data.unshift(response.data);
                    this.hideNewProductModel();
                    this.flashMessage.success({
                        title: 'Product Successfully Created',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            hideEditProductModel() {
                this.$refs.editProductModel.hide();
            },
            showEditProductModel() {
                this.$refs.editProductModel.show();
            },
            editProduct(product) {
                console.log(product);
                this.editProductData={...product};
                this.showEditProductModel();
            },
            updateProduct: async function () {
                if (!this.editProductData.name) {
                    this.editError="Name required.";
                }
                else if (!this.editProductData.price) {
                    this.editError='Price required.';
                }

                else {
                    this.editError=null;
                let formData = new FormData();
                formData.append('name', this.editProductData.name);
                formData.append('price', this.editProductData.price);
                formData.append('_method','put');
                try {
                    const response = await productService.updateProduct(this.editProductData.id,formData);
                    console.log(response.data.data);
                    this.products.data.map(product=>{
                        if(product.id === response.data.data.id){
                            for(let key in response.data.data){
                                product[key]=response.data.data[key];
                            }
                        }
                    });
                    this.hideEditProductModel();
                    this.flashMessage.success({
                        title: 'Product Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteProduct: async function (product) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${product.name.en} ?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                productService.deleteProduct(product.id);
                                this.products.data = this.products.data.filter(obj => {
                                    return obj.id !== product.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
